.input {
    padding: 3px 10px;
    border-radius: 10px;

    font-size: 15px;
    color: #3f4c6b;
}


.registration-input {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;

    border: 2px solid #3f4c99;
}

.search-input {
    display: block;
    width: 90%;

    margin-bottom: 20px;
}