body {
    background-image: url( 'images/fon.jpg' );
    text-align: center;
}

header, article, footer, nav {
    display: block;
}

/* main classes */
.maket {
    width: 1227px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    background-color: #ebebeb;
}

.footer {
    color: #ebebeb;
    margin-top: 40px;
}

article.maket {
    padding-bottom: 80px;
}

/* header styling */
header.maket {
    margin-top: 100px;
    padding-bottom: 50px;
}

#sitename {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    display: inline;
    padding: 30px 40px;
    background-color: #ebebeb;
    position: relative;
    bottom: 15px;
}

.header-links {
    padding-top: 45px;
    padding-bottom: 40px;
}

.header-links a {
    text-transform: uppercase;
    margin-right: 20px;
    margin-left: 20px;
}

/* article description styling */
.article-segment-description {
    margin-bottom: 50px;
}

div.article-segment-description h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.article-segment-description p {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* border styling */
.border {
    margin-top: 65px;
    margin-bottom: 65px;
}

div.border {
    padding-top: 13px;
    padding-bottom: 13px;
}

div.border div {
    display: inline;
    padding: 13px;
}






