.menu {
    display: inline-block;
    vertical-align: top;
    width: 25%;

    padding: 10px 30px;
}

.menu-items {
    box-sizing: padding-box;
}

.contact-information {
    display: inline-block;
    text-align: right;
}

.contact-functions {
    display: inline-block;
    width: 100%;

    text-align: right;
}

.contact {
    box-sizing: border-box;
    width: 100%;

    margin: 5px 0;
    border-radius: 10px;

    font-size: 20px;
    color: #8a8ecc;

    background-color: #e2e3ee;
}

.contact-name {
    display: inline-block;
    vertical-align: middle;

    padding: 0 10px;
}

.contact-photo {
    display: inline-block;
    vertical-align: middle;

    border-radius: 10px 0 10px 0;
}

.online-status {
    display: inline-block;
    vertical-align: middle;

    margin: 0 5px;
}

.chat-members-count {
    margin: 0 20px;
}

.button.chat-button {
    display: inline-block;
    border: 1px solid #afc8ff;

    margin: 0 5px 5px 0;
}

.button.chat-button:hover {
    border: 1px solid #ffd722;
}

.button.chat-button:active {
    border: 1px solid #ffd722;
}




