.menu {
    display: inline-block;
    vertical-align: top;
    width: 20%;

    padding: 10px 30px;
}

.menu-items {
    box-sizing: padding-box;
}

.menu-item {
    display: table;
    box-sizing: border-box;
    width: 100%;

    margin: 5px 0;
    padding: 30px 0;

    border: 3px solid #3f4c6b;
}

.menu-item-name {
    display: table-cell;
    width: 75%;

    padding: 0 10px;
}

.subitems-count {
    display: table-cell;
    width: 20%;
}
