.clear-fix {
    display: block;
    content: '.';

    height: 0;
    clear: both;
    visibility: hidden;
}

.button {
    display: inline-block;
    box-sizing: border-box;

    font-size: 20px;
    font-family: Herculanum, Party LET fantasy;

    border-radius: 10px;

    background-color: #eeeeee;
    color: #3f4c6b;
    border: 3px solid #3f4c6b;
}

.button:hover {
    border-color: #ffd722;
}

.button:active {
    border-color: #ffd722;
    background-color: #ffffff;
}