.header {
    padding: 10px;
    background-color: #3f4c6b;
}

.header-title {
    display: inline-block;
    vertical-align: middle;

    font-family: Papyrus, Herculanum, Party LET fantasy;
    font-size: 40px;
    font-weight: bold;
    color: #999999;
}

.header-registration-area {
    display: inline-block;
    vertical-align: middle;
    
    float: right;
}