<li class="contact">
    <img class="contact-photo" src="{{photoSrc}}" alt="no image"/>
    <div class="contact-information">
        <span class="contact-name">{{contactName}}</span>
        <span class="contact-additional-information">{{additionalInformation}}</span>
        <div class="clear-fix"></div>
    </div>
    <div class="contact-functions">
        <button id="remove-button" class="button chat-button" data-ng-click="removeClick()">-</button>
        <button id="chat-button" class="button chat-button" data-ng-click="chatClick()">Chat</button>
    </div>
</li>