.contact {
    box-sizing: border-box;
    width: 100%;

    margin: 5px 0;
    border-radius: 10px;

    font-size: 16px;
    color: #8a8ecc;

    background-color: #e2e3ee;
}

.contact-information {
	display: inline-block;
	vertical-align: middle;
	
    text-align: left;
}

.contact-functions {
    text-align: right;
}

.contact-name {
    display: block;
    padding: 0 10px;
}

.contact-photo {
    display: inline-block;
    vertical-align: middle;

    border-radius: 10px 0;
}

.contact-online-status {
    display: block;
    margin: 0 10px;
	
	font-size: 15px;
}

.interlocutors-count {
	display: block;
    margin: 0 10px;
	
	font-size: 15px;
}