.chat-area {
    width: 90%;
    margin: 0 auto;
}

.menu {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    max-height: 543px;

    overflow-y: auto;

    margin-top: 10px;
    padding: 10px 10px;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;

    background-color: #eeeeee;
    border: 1px solid #3f4c6b;
}

.menu-items {
    box-sizing: padding-box;
}
