.search-area {
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    height: 565px;
    vertical-align: top;

    margin-top: 10px;
    padding: 10px;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;

    overflow-y: auto;

    background-color: #eeeeee;
    border: 1px solid #3f4c6b;
}