.search-area {
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    min-height: 565px;
    vertical-align: top;

    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

    background-color: #eeeeee;
    border: 1px solid #3f4c6b;
}