<header class="header">
    <h1 class="header-title">Web Chat</h1>
    <div class="header-registration-area">
        <div>
            <img class="user-image" src="../img/default.jpg" alt="no image"/>
            <p class="user-name">Some user</p>
            <button class="button registration-button">Logout</button>
        </div>
    </div>
    <div class="clear-fix"></div>
</header>
<article class="chat-area">
<div class="menu">
    <div>
        <h2 class="contact-type">Contacts</h2>
        <ul data-ng-controller="contactsController">
            <contact photo-src="../img/default.jpg"
                     contact-name="Some name"
                     additional-information="Online"
                     remove-click=""
                     chat-click="">
            </contact>
        </ul>
        <h2 class="contact-type">Private chats</h2>
        <ul data-ng-controller="privateChatsController">
            <contact photo-src="../img/default.jpg"
                     contact-name="Private chat name"
                     additional-information="Online"
                     remove-click=""
                     chat-click="">
            </contact>
        </ul>
        <h2 class="contact-type">Public chats</h2>
        <ul data-ng-controller="publicChatsController">
            <contact photo-src="../img/default.jpg"
                     contact-name="Public chat name"
                     additional-information="5"
                     remove-click=""
                     chat-click="">
            </contact>
        </ul>
    </div>
</div>

<div class="messages-area" data-ng-controller="currentChatController">
    <ul class="recipients-list">
        <li class="recipient">Some interlocutor</li>
        <li class="recipient">Some interlocutor</li>
    </ul>
    <ul class="messages">
        <message ></message>
    </ul>
    <div class="messages-typing-area">
            <textarea class="text-area">
            </textarea>
        <button class="button send-button">Send</button>
    </div>
</div>

<div class="search-area" data-ng-controller="searchController">
    <input class="input search-input" type="search" placeholder="search by name"/>
    <ul>
        <search-result></search-result>
    </ul>
</div>
</article>
