<header class="header">
    <h1 class="header-title">Web Chat</h1>
    <div class="header-registration-area">
        <div>
            <img class="user-image" src="{{currentUser.photoSrc}}" alt="no image"/>
            <p class="user-name" data-ng-bind="currentUser.firstName + ' ' + currentUser.lastName"></p>
            <button class="button registration-button" data-ng-click="logout()">Logout</button>
        </div>
    </div>
    <div class="clear-fix"></div>
</header>
<article class="chat-area">
<div class="menu">
    <div data-ng-controller="searchController">
        <input data-ng-model="searchFieldValue"
               data-ng-focus="requestTheResults()"
               class="input search-input"
               type="search"
               placeholder="search by name"/>

        <h2 class="contact-type">Contacts</h2>
        <ul data-ng-controller="contactsController">
            <contact ng-repeat="contact in contacts | filterByContactName:searchFieldValue"
                     photo-src="{{contact.photoSrc}}"
                     contact-name="{{contact.contactName}}"
                     additional-information="{{contact.interlocutorsCount}}"
                     remove-click="removeContact(contact)"
                     chat-click="startChat(contact)">
            </contact>
        </ul>

        <h2 class="contact-type">Private chats</h2>
        <ul data-ng-controller="privateChatsController">
            <contact ng-repeat="chat in privateChats | filterByContactName:searchFieldValue"
                     photo-src="{{chat.photoSrc}}"
                     contact-name="{{chat.contactName}}"
                     additional-information="{{chat.interlocutorsCount}}"
                     remove-click="removeChat(chat)"
                     chat-click="startChat(chat)">
            </contact>
        </ul>

        <h2 class="contact-type">Public chats</h2>
        <ul data-ng-controller="publicChatsController">
            <contact ng-repeat="chat in publicChats | filterByContactName:searchFieldValue"
                     photo-src="{{chat.photoSrc}}"
                     contact-name="{{chat.contactName}}"
                     additional-information="{{chat.interlocutorsCount}}"
                     remove-click="removeChat(chat)"
                     chat-click="startChat(chat)">
            </contact>
        </ul>

        <h2 class="contact-type" data-ng-show="searchFieldValue">Search results</h2>
        <ul>
            <search-result ng-repeat="result in searchResults | filterByResultName:searchFieldValue"
                           photo-src="{{result.photoSrc}}"
                           result-name="{{result.resultName}}"
                           result-additional-information="{{result.resultAdditionalInformation}}"
                           add-click="addSearchResult(result)">
            </search-result>
        </ul>
    </div>
</div>

<div class="messages-area" data-ng-controller="currentChatController">
    <ul class="recipients-list">
        <li class="recipient" ng-repeat="interlocutor in interlocutors">
            {{interlocutor}}
        </li>
    </ul>
    <ul class="messages">
        <message ng-repeat="message in messages"
                 sender-photo="{{message.senderPhoto}}"
                 sender-name="{{message.senderName}}">
            {{message.messageText}}
        </message>
    </ul>
    <div class="messages-typing-area">
        <textarea data-ng-model="currentMessageText" class="text-area">
        </textarea>
        <button class="button send-button" data-ng-click="send()">Send</button>
    </div>
</div>

<div class="notifications-area" >
    <ul data-ng-controller="notificationsController">
        <notification ng-repeat="notification in notifications"
                      remove-click="removeNotification($index)">
            {{notification}}
        </notification>
    </ul>
</article>
