.article-segment-description {
    font-family: SourceSansProBold Verdana, Geneva, Tahoma, sans-serif;

    margin-bottom: 50px;
}

.article-segment-description h1 {
    font-size: 22pt;
    font-weight: bold;

    padding: 5px;

    text-transform: uppercase;

    color: #434041;
}

.article-segment-description p {
    font-size: 12pt;

    margin-top: 10px;
    margin-bottom: 5px;

    color: #676364;
}
