.article-segment-description {
    margin-bottom: 50px;
    font-family: SourceSansProBold Verdana, Geneva, Tahoma, sans-serif;
}

.article-segment-description h1 {
    padding: 5px;
    font-size: 22pt;
    font-weight: bold;
    text-transform: uppercase;
    color: #434041;
}

.article-segment-description p {
    margin-top: 10px;
    margin-bottom: 5px;

    font-size: 12pt;
    color: #676364;
}