.border {
    margin: 70px 25px 60px;
    height: 1px;

    color: #c2c2c2;
    border: none;
    background-color: #c2c2c2;
}

.border.block-news-border {
    margin-top: 40px;
}

.view-more-section {
    display: table;
    vertical-align: central;
    margin: 70px 25px 60px;
    width: 96%;
}

.view-more-section.bottom-section {
    margin: 70px 25px 0px;
}

.view-more-button {
    font-family: SourceSansProBold Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11pt;
    font-weight: bold;

    white-space: nowrap;

    margin: 0px 10px;
    padding: 13px;

    text-transform: uppercase;

    color: #fff;
    border-radius: 5px;
    background-color: #ed3237;
    -webkit-box-shadow: -5px 5px 0 0 rgba( 0, 0, 0, .1 );
    -moz-box-shadow: -5px 5px 0 0 rgba( 0, 0, 0, .1 );
    box-shadow: -5px 5px 0 0 rgba( 0, 0, 0, .1 );
}

.view-more-button:link {
    text-decoration: none;
    color: #ffffff;
}

.view-more-button:visited {
    color: #ffffff;
}

.view-more-button:hover {
    color: #d3d3d3;
}

.view-more-section:before, .view-more-section:after {
    display: table-cell;
    width: 48%;
    content: "";

    background: url('../images/border-image.jpg') repeat-x center;
}