.header.layout {
    margin-top: 100px;
}

.sitename {
    font-family: SourceSansProBold Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: bold;

    position: relative;
    bottom: 30px;

    display: inline;

    padding: 30px 40px;

    text-transform: uppercase;

    color: #434041;
    border-radius: 5px;
    background-color: #ebebeb;
    -webkit-box-shadow: -10px 10px 0 0 rgba( 0, 0, 0, .1 );
    -moz-box-shadow: -10px 10px 0 0 rgba( 0, 0, 0, .1 );
    box-shadow: -10px 10px 0 0 rgba( 0, 0, 0, .1 );
}

.header-links {
    font: 17px SourceSansProRegular Verdana, Geneva, Tahoma, sans-serif;
    font-family: SourceSansProRegular Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;

    padding: 45px 0px 40px;
}

.header-links .link {
    margin: 0px 20px;
    padding: 10px 0px;

    text-decoration: none;
    text-transform: uppercase;

    color: #969696;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.header-links .link:link {
    text-decoration: none;

    color: #969696;
}

.header-links .link:visited {
    color: #969696;
}

.header-links .link:hover {
    color: #ed3237;
}