* {
    margin: 0px;
    padding: 0px;
}

#body {
    background-image: url( '../images/fon.jpg' );
    text-align: center;
}

.layout {
    width: 1227px;
    margin-left: auto;
    margin-right: auto;
}

.layout-content {
    background-color: #ebebeb;
}

.layout-footer {
    margin-top: 40px;
    margin-bottom: 55px;
    color: #ebebeb;
    font: 12px SourceSansProRegular Verdana, Geneva, Tahoma, sans-serif;;
}

article.layout {
    padding-bottom: 80px;
}






