* {
    margin: 0;
    padding: 0;
}

#body {
    text-align: center;

    background-image: url( '../images/fon.jpg' );
}

.layout {
    width: 1227px;
    margin-right: auto;
    margin-left: auto;
}

.layout-content {
    background-color: #ebebeb;
}

.layout-footer {
    font: 12px SourceSansProRegular Verdana, Geneva, Tahoma, sans-serif;

    margin-top: 40px;
    margin-bottom: 55px;

    color: #ebebeb;;
}

article.layout {
    padding-bottom: 80px;
}






