.news-sections {
    font-family: SourceSansProRegular Verdana, Geneva, Tahoma, sans-serif;

    margin-right: 15px;
    margin-left: 15px;

    text-align: center;
    vertical-align: central;
}

.news-sections section {
    display: inline-block;

    box-sizing: padding-box;
    width: 33%;

    text-align: left;
}

.news-sections figure {
    display: inline-block;
    overflow: visible;

    box-sizing: padding-box;
    width: 270px;
    height: inherit;
    margin: 0 15px;
    padding-bottom: 30px;

    text-align: left;
    vertical-align: top;

    border-radius: 10px 0 10px 10px;
    background-color: #e2e2e2;
    -webkit-box-shadow: -10px 10px 0 0 rgba( 0, 0, 0, .1 );
    -moz-box-shadow: -10px 10px 0 0 rgba( 0, 0, 0, .1 );
    box-shadow: -10px 10px 0 0 rgba( 0, 0, 0, .1 );
}

div.block-news {
    text-align: center;
}

div.icon img {
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 23px;

    border-radius: 10px 0 10px 10px;
    background-color: #373435;
    -webkit-box-shadow: -10px 10px 0 0 rgba( 0, 0, 0, .1 );
    -moz-box-shadow: -10px 10px 0 0 rgba( 0, 0, 0, .1 );
    box-shadow: -10px 10px 0 0 rgba( 0, 0, 0, .1 );
}

div.icon {
    float: left;
    overflow: hidden;
}

div.news {
    box-sizing: padding-box;
    margin-left: 109px;
    padding-right: 20px;
}

.news-sections h2 {
    font-size: 14pt;
    font-size: 11pt;
    font-weight: bold;

    margin: 0;
    padding-right: 30px;

    text-transform: uppercase;

    color: #434041;
}

.news-sections p {
    font-size: 10pt;

    margin-top: 30px;
    margin-bottom: 30px;

    color: #676364;
}

a.news-reference {
    font-size: 11pt;
    font-weight: bold;

    position: relative;
    bottom: 0;

    text-decoration: none;
    text-transform: uppercase;

    color: #434041;
}

a.news-reference:link {
    text-decoration: none;

    color: #434041;
}

a.news-reference:visited {
    color: #434041;
}

a.news-reference:hover {
    color: #ed3237;
}

a.news-reference::after {
    content: ' \003E';

    color: #ed3237;
}

.block-news h2 {
    padding: 40px 30px 30px 30px;
}

.block-news p {
    padding: 0 30px;
}

.block-news a {
    padding-left: 30px;
}

.products {
    font-family: SourceSansProBold Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11pt;
    font-weight: bold;

    text-transform: uppercase;

    color: #434041;
}

h2.products {
    margin-top: -20px;
    margin-bottom: 30px;

    color: #ed3237;
}

div.products {
    display: inline-block;

    margin: 6px;
    padding: 12px 14px;

    border: 1px solid #cecece;
    border-radius: 5px;
    -webkit-box-shadow: -5px 5px 0 0 rgba( 0, 0, 0, .1 );
    -moz-box-shadow: -5px 5px 0 0 rgba( 0, 0, 0, .1 );
    box-shadow: -5px 5px 0 0 rgba( 0, 0, 0, .1 );
}


